<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cloudnote-Register</title>
    <link rel="stylesheet" href="logintest.css">
  </head>
  <body>
  <img src="loginback.jpg" alt="Kiwi standing on oval" style="height: 100%;width: 100%;position: absolute;">

    <div style=" top :50% ; background-color: #2f89fc;">
      <div class="f" style="top :50% "></div>
        <img src="../assests/logo2.png" style="position: absolute ;top: -3%;left: 45%;HEIGHT: 160px;">
  </div>
  

  <h1>Login</h1>
<form class="box" action="register" method="POST">
  <input class="name" type="text" name="name" placeholder="Name" required>
  <input class="username" type="text" name="username" placeholder="Username" required>
  <input  class="password" type="password" name="password" placeholder="Password" maxlength="15" required>
  <input class="date" type="date" name="date" placeholder="Date-de-Naissance" required>
  <input type="submit" >
  <a href="http://localhost:2000">Login</a>


</form>
        


  </body>
</html>
