
html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}

body{
    width: 100%;
    height: 100vh;
    background: url(img/BW.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    font-family: monospace;
}
.controls{
    position: relative;
    margin-bottom: 15px;
  }

  input[type="search"]{
    color: #fff;
    display: block;
    font-weight: 300;
    width: 100%;
    padding: 8px;
    @include border-radius(2px);
  }
